<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>CRUD</h1>
        <p>
            <a class="btn btn-lg btn-secondary" sec:authorize="isAnonymous()" href="/members/new">회원 가입</a>
        </p>
        <p>
            <a class="btn btn-lg btn-success" sec:authorize="isAuthenticated()" href="/members/info">회원정보</a>
        </p>
        <p>
            <a class="btn btn-lg btn-dark" sec:authorize="isAnonymous()" href="/login">로그인</a>
            <a class="btn btn-lg btn-dark" sec:authorize="isAuthenticated()" href="/logout">로그아웃</a>
        </p>
        <p>
            <a class="btn btn-lg btn-info" href="/postList">게시판</a>
        </p>


    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>