<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
        <!--내용 헤더-->
        <div>
            <strong th:text="${post.title}" style="font-size: 30px"></strong>
            <p> </p>
            <div>
                <span>글쓴이 : </span>
                <span th:text="${post.member.name}"></span>
                <span>, 조회수 : </span>
                <span th:text="${post.count}"></span>
                <span>, 작성시간 : </span>
                <span th:text="${post.postDate}"></span>
            </div>
        </div>
        <!--글 내용-->
        <div>
            <p>----------------------------------------------------------------------------</p>
            <p> </p>
            <p th:text="${post.content}"></p>

            <!--댓글 박스-->
            <div class="jumbotron" style="margin-top: 100px">
                <form style="display: flex" role="form" th:action="@{/comment/{postId}/new (postId=${post.id})}" th:object="${commentDto}" method="post">
                    <input type="text" th:field="*{text}" class="form-control" placeholder="내용을 입력하세요" style="height: 60px">
                    <button type="submit" class="btn btn-sm btn-primary" >Submit</button>
                </form>
                <table class="table table-striped">
                    <tbody>
                        <tr th:each="comment : ${comments}">
                            <td th:text="${comment.member.name}" style="float: left"></td>
                            <td th:text="${comment.text}"></td>
                            <td th:text="${comment.commentDate}" style="right: 0"></td>
                        </tr>
                    </tbody>
                 </table>
            </div>

        </div>

        <form class="form-row float-right" th:action="@{/post/{postId}/remove (postId=${post.id})}" method="post">
            <button class="btn btn-danger">삭제</button>
        </form>
        <div class="form-row float-right">
            <a class="btn btn-success" th:href="@{/post/{postId}/update (postId=${post.id})}" style="margin-right: 10px;">수정</a>
        </div>


    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>
