<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-
ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div>
        <h1>test</h1>
        <p>
            <a class="btn btn-lg btn-secondary" href="/test1">1</a>
            <a class="btn btn-lg btn-secondary" href="/test2">2</a>
        </p>
        <button type="submit" class="btn btn-success">asdjasdj</button>
    </div>
</div> <!-- /container -->
</body>
</html>